<header>
  <div class="header-container2">
    <div class="logonav2">ArtisanSpace</div>
    <nav class="nav2">
      <ul class="nav2ul">
        <li><a href="/manager">Dashboard</a></li>
        <li><a href="/manager/content-moderation">Content Moderation</a></li>
        <li><a href="/manager/listing">Listings</a></li>
        <li class="dropdown">
          <i class="fa-solid fa-bars fa-lg"></i>
          <div class="dropdown-menu">
            <a href="/manager/settings" class="dropdown-item settings-btn">
              <i class="fa-solid fa-gear"></i>
              <p>Settings</p>
            </a>
            <a href="/logout" class="dropdown-item logout-btn">
              <i class="fa-solid fa-right-from-bracket"></i>
              <p>Logout</p>
            </a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
<script>
  document.addEventListener("DOMContentLoaded", () => {
  const barsIcon = document.querySelector(".fa-bars");
  const dropdownMenu = document.querySelector(".dropdown-menu");

  barsIcon.addEventListener("click", (event) => {
    dropdownMenu.style.display = dropdownMenu.style.display === "block" ? "none" : "block";
    event.stopPropagation();
  });

  document.addEventListener("click", () => {
    dropdownMenu.style.display = "none";
  });

  dropdownMenu.addEventListener("click", (event) => {
    event.stopPropagation();
  });
});

function openSettings() {
  window.location.href = "/settings"
}

function logout() {
  window.location.href = "/logout";
}

</script>